{% extends 'layout.html.twig' %}

{% block body %}
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <section>
        <div class="main-title">
            <div class="child1">Hypnos</div>
            <div class="child2">{{ id }}</div>
        </div>
    </section>

    <h2>{{ id }}</h2>
<div class="explication-hotel">
    <h3>Description de l'hotel : </h3>
        <ul>
            <li>Nom : {{ id.name }}</li>
            <li>Adresse : {{ id.adress }}</li>
            <li>Gérant : {{ id.managedby }}</li>
        </ul>
    </div>
    <h2 class="h2history">Histoire de l'hotel</h2>
<div class="description-hotel">
            <p>{{ id.description }}</p>
</div>
    <h2><a href="#basde">Liste des chambres</a></h2>
{% endblock %}
