{% extends 'layout.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section>
        <div class="main-title">
            <div class="child1">Hypnos</div>
            <div class="child2">L'aventure à deux</div>
        </div>
    </section>
    <h2>Explain</h2>
    <div class="contain-explain">
        <div class="explain">
            <p>Hypnos est un groupe hôtelier fondé en 2004. Propriétaire de <b>7 établissements</b> dans les quatre
                coins de l’hexagone, chacun de ces hôtels s’avère être une destination idéale pour les couples
                en quête d’un séjour romantique à deux.</p>
        </div>
        <div class="explain-pic">
            <img src="{{ asset('image/home-picture/chambre1.jpg') }}" alt="chambre1">
        </div>
    </div>
    <h2 class="h2history">Histoire</h2>
    <div class="contain-history">
        <div class="history-pic">
            <img src="{{ asset('image/home-picture//chambre2.webp') }}" alt="chambre2">
        </div>
        <div class="history">
            <p>Chaque suite au design luxueux inclut des services hauts de gamme (un <b>spa privatif</b>
                notamment), de quoi plonger pleinement dans une <b>atmosphère chic-romantique</b>.
                En parcourant ce site, vous y trouverez notre gamme d'hotel à votre disposition,
                et vous pourrez par la suite réserver une chambre à vous et votre âme soeur.
            </p>
        </div>
    </div>
    <h2>Nos Hotels</h2>
    <div class="content-hotel"><a id="bas"></a>
        <div class="col">
            <div class="title-explain-hotel">
                <h3>Hotel <br>Bon'Appart</h3>
            </div>
            <div class="button-hotel">
                <button type="button" class="btn btn-primary">Infos</button>
                <button type="button" class="btn btn-primary">Accés site</button>
            </div>
            <div class="pic-hotel">
                <img src="{{ asset('image/home-picture/hotel/hotel1.jpg') }}" alt="hotel 1">
            </div>
        </div>
        <div class="col">
            <div class="pic-hotel">
                <img src="{{ asset('image/home-picture/hotel/hotel2.jpg') }}" alt="hotel 2">
            </div>
            <div class="button-hotel">
                <button type="button" class="btn btn-primary">Infos</button>
                <button type="button" class="btn btn-primary">Accés site</button>
            </div>
            <div class="title-explain-hotel">
                <h3>Hotel <br>Ville Paris</h3>
            </div>
        </div>
        <div class="col">
            <div class="title-explain-hotel">
                <h3>Hotel <br>Bour la Madame</h3>
            </div>
            <div class="button-hotel">
                <button type="button" class="btn btn-primary">Infos</button>
                <button type="button" class="btn btn-primary">Accés site</button>
            </div>
            <div class="pic-hotel">
                <img src="{{ asset('image/home-picture/hotel/hotel3.jpg') }}" alt="hotel 3">
            </div>
        </div>
        <div class="col">
            <div class="pic-hotel">
                <img src="{{ asset('image/home-picture/hotel/hotel4.jpg') }}" alt="hotel 4">
            </div>
            <div class="button-hotel">
                <button type="button" class="btn btn-primary">Infos</button>
                <button type="button" class="btn btn-primary">Accés site</button>
            </div>
            <div class="title-explain-hotel">
                <h3>Hotel <br>Peste tôt</h3>
            </div>
        </div>
        <div class="col">
            <div class="title-explain-hotel">
                <h3>Hotel <br>Patrie Moine</h3>
            </div>
            <div class="button-hotel">
                <button type="button" class="btn btn-primary">Infos</button>
                <button type="button" class="btn btn-primary">Accés site</button>
            </div>
            <div class="pic-hotel">
                <img src="{{ asset('image/home-picture/hotel/hotel5.jpg') }}" alt="hotel 5">
            </div>
        </div>
        <div class="col">
            <div class="pic-hotel">
                <img src="{{ asset('image/home-picture/hotel/hotel6.jpg') }}" alt="hotel 6">
            </div>
            <div class="button-hotel">
                <button type="button" class="btn btn-primary">Infos</button>
                <button type="button" class="btn btn-primary">Accés site</button>
            </div>
            <div class="title-explain-hotel">
                <h3>Hotel <br>Côtte d'or</h3>
            </div>
        </div>
        <div class="col">
            <div class="title-explain-hotel">
                <h3>Hotel <br>Bro' Chette</h3>
            </div>
            <div class="button-hotel">
                <button type="button" class="btn btn-primary">Infos</button>
                <button type="button" class="btn btn-primary">Accés site</button>
            </div>
            <div class="pic-hotel">
                <img src="{{ asset('image/home-picture/hotel/hotel7.jpg') }}" alt="hotel 7">
            </div>
        </div>
    </div>
{% endblock %}
