{% extends 'layout.html.twig' %}
{% block body %}
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <h2 class="h2history">Gestion <br> Administrateur</h2>
    <div class="gestion">
        <div class="image">
            <img src=" {{ asset('image/gestion/admin-pic.png') }}" alt="admin picture logo" >
        </div>
        <div class="definition">
            <p>
                Le webmaster contribue à la gestion opérationnelle d'un ou des site(s) internet. Il intègre les images et supports multimédia dans les outils de gestion de contenu, développe de nouvelles fonctionnalités dynamiques, gère l'interface utilisateur et assure la mise en ligne des opérations commerciales. Il est le garant du développement et de l'évolution du site de vente.
            </p>
        </div>
    </div>
    <h2>Vos <br> Coordonnées</h2>
    <div class="logs">
        <div class="logutilisateur">
            <table class="table table-dark">
                <tbody>
                <tr>
                    <th scope="row">Image</th>
                    <td><button class="btn " type="button">Modifier</button></td>
                    <td><img class="img-image" src="{{ asset('image/icone/arrow-right.svg') }}" alt=" arrow"></td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td></td>
                    <td>{{ user.email }}</td>
                <tr>
                    <th scope="row">Name</th>
                    <td><button class="btn " type="button">Modifier</button></td>
                    <td>{{ user.name }}</td>
                <tr>
                    <th scope="row">Prénom</th>
                    <td><button class="btn " type="button">Modifier</button></td>
                    <td>{{ user.lastname }}</td>
                <tr>
                </tbody>
            </table>
        </div>
        <div class="image" id="imageadmin2">
            <img src=" {{ asset('image/picture-recue/admin-picture.webp') }}" alt="admin picture" >
        </div>
    </div>
<h2 class="h2history">Gestion <br> des Managers</h2>
<div class="managerlist">
    <table class="table" id="tablemanagergestion">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Email</th>
            <th scope="col">Supprimer</th>
        </tr>
        </thead>
        {% for n in usermanager %}
        <tbody>
        <tr>
            <td>{{ n.name }}</td>
            <td>{{ n.lastname }}</td>
            <td>{{ n.email }}</td>
            <td><button class="btn " type="button"></button></td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
    <div class="ajoutmanagergestion">
        <button type="button" class="btn boutoun">Ajouter un Manager</button>
    </div>
    <h2>Vos  <br> Formulaires reçues</h2>
    <div class="explainselectionsujet">
        <p><b>Avec pour description du sujet :</b>
        <ol>
            <li> - Je souhaite poser une réclamation;</li>
            <li> - Je souhaite commander un service supplémentaire;</li>
            <li> - Je souhaite en savoir plus sur une suite;</li>
            <li> - J'ai un soucis avec cette application (nopossible);</li>

        </ol></p>
    </div>
    <div class="managerlist">
        <table class="table" id="tablemanagergestion">
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Email</th>
                <th scope="col">Sujet</th>
                <th scope="col">Description</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            {% for u in contactuslist %}
                <tbody>
                    <tr>
                        <td>{{ u.name }}</td>
                        <td>{{ u.lastname }}</td>
                        <td>{{ u.email }}</td>
                        <td>{{ u.list }}</td>
                        <td>{{ u.description }}</td>
                        <td><button class="btn " type="button"></button></td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
<h2 class="h2history">Gestion <br> Hotels/Managers</h2>
<div class="ghotelmanager">
    <table class="table" id="tablemanagergestion">
        <thead>
        <tr>
            <th scope="col">Managers</th>
            <th scope="col">Hotels</th>
        </tr>
        </thead>
        <tbody>
        {% for n in usermanager %}
        <tr>
            <td>
               {{ n.name }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <br>
    <br>
    <br>
{% endblock %}
